<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="/public/styles.css">
    <title>Online Quiz</title>
</head>
<body>
    <h2>Welcome to the Quiz</h2>
    <form action="/quiz" method="get">
        <label>Enter Your Name:</label>
        <input type="text" name="name" required>
        <button type="submit">Start Quiz</button>
    </form>
</body>
</html>
